-
  var events2017 = [
    {
      date: '3月',
      title: 'AINA2017(台湾国際学会)'
    },
    {
      date: '6月',
      title: '125周年シンポジウム'
    },
    {
      date: '7月',
      title: '第46回可視化情報シンポジウム・CSII2017（国際会議）への参加'
    },
    {
      date: '7月',
      title: '上海工程技術大学との交流（大学の方をお招きして）'
    },
    {
      date: '8月',
      title: '学会参加：感性工学会、睡眠環境学会への参加'
    },
    {
      date: '8月',
      title: '電気情報通信学科内研究室：魅力工学研究会の発足シンポジウムへの参加'
    },
    {
      date: '10月',
      title: '東日本大震災被災者・水梨コミュニティとの交流（大学へお招きしてのシンポジウムの開催）'
    }
  ]