-
	var faculties = [
		{
			name: '加藤 千恵子',
			image: 'default_usericon.jpg',
			link: 'chieko.html',
			position: '教授',
			field: 'スポーツ心理学, 臨床心理学, 芸術心理学, 心理情報',
			address: 'kato-c@toyo.jp',
			introduction: '心理学と情報工学を用いて人の心理を数値化し分析することやITを利用した新しい心理療法、心理情報処理の開発をテーマに研究を行っています。生体情報・心理情報・行動観察を融合させた新しい心理測定方法の開発、Webを利用した遠隔地とのカウンセリング、ITを利用した心理検査の自動処理システムの開発、描画検査のログ解析、３DCGを利用した集団行動分析、性格特性などに応じた商品・環境・デザインの評価、文章解析などについて学んでいます。'
		},
		{
			name: '綿貫 慶徳',
			image: 'default_usericon.jpg',
			link: 'watanuki.html',
			position: '講師',
			field: 'スポーツ史, スポーツ文化論, 身体文化論',
			address: 'wanuki@toyo.jp',
			introduction: 'スポーツに関して、理論と実践の両面から教育・研究を進めています。スポーツと一重に言っても、勝利や記録の追求を目的とした競技スポーツから、人々の健康の維持・増進を目的とした健康スポーツにいたるまで、多様な意味内容を含んでいます。皆さんのスポーツにたいする価値観や関心のおきどころは、様々でしょうが、広い視野から皆さんとともにスポーツを学び、スポーツに接し、スポーツの奥深さを求めていきたいと思います。'
		},
		{
			name: '菅原 徹',
			image: 'default_usericon.jpg',
			link: 'sugawara.html',
			position: '非常勤講師',
			field: '感性工学, 認知心理学, 生物機能工学',
			address: 'kansei1618@gmail.com',
			introduction: 'すてきな笑顔を見ると，自分も笑顔になる。店員さんの笑顔の接客や，相手の喜んだ顔で，自分も自然と幸せな気持ちになった。多くの人がそんな経験をしているのではないでしょうか。日常において笑顔はコミュニケーションを円滑にし，相手の信頼を得，安心感や安らぎを与えることができます。この「笑顔の力」を社会のさまざまな場面の問題解決へ応用したいという想いから，笑顔の研究を進めています。笑顔の仕組みを知り，笑顔の形を学び，心の喜ぶ笑顔を贈ることを目指し，笑顔の感性価値を探究します。このほか，プレゼンテーションの技法，自己表現のセミナーなどを行なっています。学生の皆さんには就職活動や社会にでても役立つビジネススキルもお伝えできればと思います。'
		},
		{
			name: '渋谷 英雄',
			image: 'default_usericon.jpg',
			link: 'shibutani.html',
			position: '客員教授',
			field: '臨床心理学, 情報心理学',
			address: 'shibuhide@jcom.home.ne.jp',
			introduction: 'これまで、ダイビング雑誌「海と心理学」、ゼクシィ「結婚心理クリニック」などを連載するなど、一般向けの心理学啓蒙にも力を注いでいます。現在の研究テーマは、主に「産業カウンセリング」「ポジティブ心理学」「スポーツ心理学」です。'
		}
	]