-
	var faculties = [
		{
			name: '加藤千恵子',
			image: 'default_usericon.jpg',
			link: 'chieko.html',
			position: '教授',
			field: 'スポーツ心理学, 臨床心理学, 芸術心理学, 心理情報',
			address: 'kato-c@toyo.jp',
			introduction: '心理学と情報工学を用いて人の心理を数値化し分析することやITを利用した新しい心理療法、心理情報処理の開発をテーマに研究を行っています。生体情報・心理情報・行動観察を融合させた新しい心理測定方法の開発、Webを利用した遠隔地とのカウンセリング、ITを利用した心理検査の自動処理システムの開発、描画検査のログ解析、３DCGを利用した集団行動分析、性格特性などに応じた商品・環境・デザインの評価、文章解析などについて学んでいます。'
		},
		{
			name: '綿貫 慶徳',
			link: 'watanuki.html',
			position: '教授',
			field: 'ぽよ',
			address: 'wanuki@toyo.jp'
		},
		{
			name: '青木 滉一郎',
			link: 'aoki.html',
			position: '助教'
		},
		{
			name: '菅原 徹',
			link: 'sugawara.html',
			position: '非常勤講師',
			field: '感性工学, 認知心理学, 生物機能工学',
			address: 'kansei1618@gmail.com'
		},
		{
			name: '渋谷 英雄',
			link: 'shibutani.html',
			position: '非常勤講師'
		}
	]