doctype html
html
  head
    meta(charset='utf-8')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')

    link(rel='stylesheet', href='styles/app.css')
  body
    .wrapper
      section.left
        .left__text
          .left__text__title
            h1 KATO LAB.
            p 心理とスポーツとIT研究室
          ul.left__text__menu
            include includes/data/_pages
            each item in pages
              li
                h2
                  a(href=item.link)=item.name
        .left__copyright
          p Created by MapleMomiji
      section.right
        .right__overlay

    script(src='scripts/main.js')