.p-top__wrapper {
	@include mq-up() {
		width: 90%;
		max-width: 960px;
		margin: 0 auto;
	}
}

.p-top__header {
	width: 100%;
	height: 140px;
	box-shadow:0px 2px 4px #999;
	display: flex;
	align-items: center;
	@include mq-up() {
		width: 335px;
		box-shadow: none;
		margin-top: 120px;
	}
	&__title {
		font-weight: normal;
		font-size: 48px;
		font-family: $titleFont;
		@include mq-up() {
			font-size: 85px;
		}
	}
	&__subtitle {
		font-size: 18px;
		font-family: $jaFont;
		@include mq-up() {
			margin-top: 20px;
			font-size: 24px;
		}
	}
}

.p-top__main {
	height: calc(100vh - 140px);
	font-family: $enFont;
	@include mq-up() {
		height: auto;
		width: 50%;
	}
}

.p-top__nav {
	padding-top: 40px;
	padding-bottom: 70px;
	@include mq-up() {
		padding-top: 100px;
	}
	&__item {
		font-size: 18px;
		margin-bottom: 24px;
		@include mq-up() {
			font-size: 20px;
		}
		h2 a {
			font-weight: normal;
			transition: color .5s ease;
			&:hover {
				color: $lightGreen;
			}
		}
	}
}

.p-top__bgSP {
	position: fixed;
	right: -80px;
	bottom: 20px;
	img {
		overflow: hidden;
		width: 292px;
		height: 292px;
		opacity: .6;
	}
}

.p-top__bgPC {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	background-image: url(/assets/images/apple.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: -1px 0px 4px #444;
	&__overlay {
		background-color: rgba(0,0,0, 0.2);
		height: 100%;
	}
}

.p-top__copyright {
	font-size: 12px;
}