@import "../foundations/_reset";
@import "../foundations/_base";
@import "../foundations/_responsive";

@import "../layouts/_main";

@import "../utilities/_margin";
@import "../utilities/_flex";
@import "../utilities/_display";

.About {
	text-decoration: line-through;
}

.main {
	img {
		width: 100%;
		@include mq-up() {
			display: block;
			width: 80%;
			margin: 0 auto;
		}
	}
}

.right__article__body__section {
	img {
		width: 60%;
	}
}