@import "../foundations/_reset";
@import "../foundations/_base";
@import "../foundations/_responsive";

@import "../layouts/_main";

@import "../utilities/_margin";
@import "../utilities/_flex";
@import "../utilities/_display";

.Faculties {
	text-decoration: line-through;
}

.main {
	padding-bottom: 0;
	&__section {
		display: block;
		width: 50%;
		text-align: center;
		margin-top: 20px;
		@include mq-up() {
			width: 33%;
			margin-right: 30px;
		}
		&__icon {
			width: 100px;
			margin-bottom : 12px;
			border-radius : 50%;
			border: 3px solid #eee;
			transition: border .6s ease;
			@include mq-up() {
				width: 130px;
			}
			&:hover {
				border-color: #4A90E2;
			}
		}
		&__name {
			font-size: 18px;
			@include mq-up() {
				font-size: 20px;
			}
		}
	}
}