@import "../foundations/_reset";
@import "../foundations/_base";
@import "../foundations/_responsive";

@import "../layouts/_main";

@import "../utilities/_margin";
@import "../utilities/_flex";
@import "../utilities/_display";

@import "../components/_caption";

.Researches {
	text-decoration: line-through;
}

.main__section {
	margin-bottom: 50px;
	h3 {
		font-size: 18px;
		margin-bottom: 10px;
		@include mq-up() {
			font-size: 22px;
		}
	}
}

.main__table {
	margin-bottom: 30px;
	h4, li {
		padding: 5px 12px;
		border: 1px solid $gray;
		border-bottom: none;
	}
	h4 {
		background-color: #EAE9E9;
	}
	ul {
		border-bottom: 1px solid $gray;
	}
	&__auth {
		font-size: 12px;
		color: $gray;
		@include mq-up() {
			font-size: 14px;
		}
	}
}