extends ../layout/_pages

block title
  title Contact
  meta(name='description', content='Contact/加藤研究室')

block styles
  link(rel='stylesheet', href='/styles/pages/contact.css')
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

block content
  h2.main__title <span>C</span>ontact
  .main__body
    .main__section
      h2 メールアドレス
      p.c-link: a(href='mailto:chiekolab@gmail.com') chiekolab@gmail.com
    .main__section
      h2 Facebook
      p: a(href='https://www.facebook.com/katolaboratory/'): i.fab.fa-facebook