extends ../layout/_pages

block title
  title Contact
  meta(name='description', content='Contact/加藤研究室')

block styles
  link(rel='stylesheet', href='/assets/styles/app.css')

block content
  h1.main__title
    span.initial C
    | ontact
    span.ja -お問い合わせ-
  .main__body
    .main__section
      h2 メールアドレス
      p.c-link: a(href='mailto:chiekolab@gmail.com') chiekolab@gmail.com
    .main__section
      h2 Facebook
      p
        a(href='https://www.facebook.com/katolaboratory/')
          img.c-icon(src="/assets/images/flogo_RGB_HEX-144.svg", alt="facebook-icon")