doctype html
html
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='robots', content='index,follow')
    meta(name='format-detection', content='telephone=no')
    meta(name='keywords', content='東洋大学 加藤, 東洋大学 加藤研究室, 加藤研究室, 加藤ゼミ, 心理とスポーツとIT研究室, 東洋大学 心理とスポーツとIT研究室, 東洋大学, 東洋大学 心理, 加藤千恵子, 綿貫慶徳, 菅原徹, 渋谷英雄')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:image', content='https://kato-lab.netlify.com/assets/images/ogp.jpg')
    meta(property='og:site_name', content='加藤研究室-東洋大学')
    meta(property='og:locale', content='ja_JP')
    meta(property='og:type', content='article')
    meta(property='og:image', content='https://kato-lab.netlify.com/assets/images/ogp.jpg')
    link(rel='shortcut icon', href='/assets/images/favicon.ico')
    link(rel='apple-touch-icon-precomposed', href='/assets/images/apple-touch-icon.png')
    meta(name='description', content='当研究室は、東洋大学川越キャンパスにある総合情報学部総合情報学科の学生と教員によって構成されている研究室です。')
    meta(name='twitter:description', content='当研究室は、東洋大学川越キャンパスにある総合情報学部総合情報学科の学生と教員によって構成されている研究室です。')
    meta(property='og:description', content='当研究室は、東洋大学川越キャンパスにある総合情報学部総合情報学科の学生と教員によって構成されている研究室です。')

    block title
      title page-title
      //- meta(name='twitter:url', content=site.domain + directory)
      //- meta(property='og:url', content=site.domain + directory)
    
    block styles
      link(rel='stylesheet', href='/assets/styles/app.css')
  body
    .l-wrapper
      header.l-header
        .l-header__title.u-hideSP
          h1: a(href="/") KATO LAB.
          p 心理とスポーツとIT研究室
        ul.l-header__menu#js-menu
          include ../data/_pages
          each item in pages
            li
              a(href=`/${item.link}/` class=item.link)=item.name
      main.main
        img.bgImg.u-hideSP(src='/assets/images/apple-white.png')
        block content
      footer.u-hidePC.l-footer
        .l-footer__inner
          a(href='/'): img.l-footer__img(src='/assets/images/apple-black.png')
          .copyright: p Created by MM
      script(src="https://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
      script(src="/assets/scripts/app.js")