-
	var pages = [
		{
			name: 'About',
			link: 'about'
		},
		{
			name: 'Faculty',
			link: 'faculty'
		},
		{
			name: 'Research',
			link: 'research'
		},
		{
			name: 'Activity',
			link: 'activity'
		},
		{
			name: 'Contact',
			link: 'contact'
		}
	]