-
	var pages = [
		{
			name: 'About',
			link: 'pages/about.html'
		},
		{
			name: 'Faculties',
			link: 'pages/faculties/index.html'
		},
		{
			name: 'Researches',
			link: 'pages/researches.html'
		},
		{
			name: 'Events',
			link: 'pages/events.html'
		},
		{
			name: 'Contact',
			link: 'pages/contact.html'
		}
	]