.l-wrapper {
	color: $black;	
}

.l-container {
	width: 980px;
	margin: 0 auto;
}

.l-header {
	height: 100px;
	padding:0 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1px 4px #444;
	font-family: $enFont;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background-color: #fff;
	@include mq-up() {
		width: 30%;
		max-width: 300px;
		padding-left:40px;
		padding-right: 10px;
		height: 100%;
		box-shadow: 3px 0 4px rgba(0,0,0, 0.5);
		padding-top: 130px;
		top: 0;
		left: 0;
		right: auto;
		display: block;
		&__title {
			h1 {
				font-family: $titleFont;
				font-size: 44px;
				font-weight: normal;
			}
			p {
				font-size: 14px;
				margin-top: 10px;
				font-family: $enFont;
			}
		}
	}
	&__menu {
		width: 260px;
		ul {
			display: flex;
			flex-wrap: wrap;
		}
		@include mq-up() {
			width: 100%;
			margin-top: 100px;
			ul {
				display: block;
			}
		}
		li {
			margin-right: 15px;
			&:nth-child(3),&:nth-child(5) {
				margin-right: 0;
			}
			&:nth-child(4),&:nth-child(5) {
				margin-top: 20px;
			}
			@include mq-up() {
				margin: 0;
				margin-bottom: 20px;
			}
		}
		h2 {
			font-weight: normal;
			display: inline-block;
			font-size: 15px;
			transition: all .5s ease;
			&:hover {
				color: $lightGreen;
			}
			@include mq-up() {
				font-size: 16px;
			}
		}
	}
}

.l-footer {
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0 20px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	&__img {
		width: 50px;
		height: 50px;
	}
	p {
		font-size: 10px;
	}
}

.main {
	margin-top: 100px;
	height: auto;
	min-height: calc(100vh - 170px);
	width: 100%;
	max-width: 700px;
	padding: 25px 30px;
	@include mq-up() {
		min-height: calc(100vh - 70px);
		margin-left: 30%;
		width: 70%;
		margin-top: 0;
		padding-top: 55px;
		.bgImg {
			width: 500px;
			opacity: .3;
			position: fixed;
			top: 50px;
			right: -150px;
			z-index: -1;
		}
	}
	&__title {
		font-size: 36px;
		letter-spacing: -1px;
		font-family: $enFont;
		margin-bottom: 20px;
		color: #7dbdab;
		@include mq-up() {
			font-size: 59px;
		}
		span {
			color: #01968c;
		}	
	}
	&__section {
		font-family: $jaFont;
		line-height: 1.6;
		font-size: 14px;
		margin-bottom: 40px;
		@include mq-up() {
			font-size: 16px;
			margin-top: 50px;
		}
		h2 {
			font-size: 18px;
			margin-bottom: 10px;
			@include mq-up() {
				font-size: 24px;
				margin-bottom: 15px;
			}
		}
		
	}
}
