.l-wrapper {
	color: $black;	
}

.l-container {
	width: 980px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	height: 100vh;
	color: $textColor;
	overflow-y: hidden;
	&__backImg {
		opacity: .3;
		position: fixed;
		top: 50px;
		right: -150px;
		z-index: -1;
	}
}

.left {
	width: 20%;
	padding-left:40px;
	height: 100%;
	box-shadow: 3px 0 4px rgba(0,0,0, 0.5);
	padding-top: 130px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	&__title {
		h1 {
			font-family: $titleFont;
			font-size: 40px;
			font-weight: normal;
		}
		p {
			font-size: 20px;
			margin-top: 10px;
			font-family: $enFont;
		}
	}
	&__menu {
		font-family: $titleFont;
		margin-top: 100px;
		li {
			margin-bottom: 20px;
			h2 {
				font-weight: normal;
				display: inline-block;
				font-size: 18px;
				transition: all .5s ease;						
				&:hover {
					color: $mainColor;
				}
			}
		}
	}
}

.main {
	width: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-left: 20%;
}

.article {
	width: 80%;
	margin-left: 5%;
	max-width: 700px;
	padding: 50px 20px;
	height: 100%;
	&__pageTitle {
		font-size: 59px;
		letter-spacing: -1px;
		font-family: $headFont;
		margin-bottom: 40px;
		color: #7dbdab;
		span {
			color: #01968c;
		}
	}

	&__body {
		font-family: $textFont;
		p {
			line-height: 1.6;
		}
		&__notes {
			font-size: 12px;
			color: $gray;
		}
		&__section {
			margin: 40px 0;
			&__title {
				font-size: 24px;
				margin-bottom: 20px;
			}
		}
	}
}