extends ../layout/_faculty-items

block title
  title 加藤千恵子 @加藤研究室-東洋大学
  meta(name='twitter:url', content='https://kato-lab.netlify.com/faculty/chieko.html')
  meta(property='og:url', content='https://kato-lab.netlify.com/faculty/chieko.html')


block teacher
  - var teacher = faculty[0];