extends ../layout/_pages

block title
  title Faculty @加藤研究室-東洋大学
  meta(name='twitter:url', content='https://kato-lab.netlify.com/faculty/')
  meta(property='og:url', content='https://kato-lab.netlify.com/faculty/')

block content
  .p-faculty
    h1.main__title
      span.initial F
      | aculty
      span.ja -教員紹介-
    .p-faculty__wrap
      include ../data/_faculty
      each val in faculty
        a(href=`${val.link}`).p-faculty__item
          img.p-faculty__item__img(src=`/assets/images/${val.image}`)
          p.p-faculty__item__name=val.name