extends ../layout/_faculty-items

block title
  title 渋谷英雄 @加藤研究室-東洋大学
  meta(name='twitter:url', content='https://kato-lab.netlify.com/faculty/shibutani.html')
  meta(property='og:url', content='https://kato-lab.netlify.com/faculty/shibutani.html')

block teacher
  - var teacher = faculty[3];