extends ../layout/_faculty-items

block title
  title 菅原徹 @加藤研究室-東洋大学

block teacher
  - var teacher = faculty[2];

block add
  h3 HP
  p: a(href='http://www.kanseismile.com/').c-link http://www.kanseismile.com/